body {
    overflow-x: hidden;
    width: 100vw;
}
.no-select {
    user-select: none !important;
}

#cost-products>tr>td:nth-child(3) {
    text-align: center;
}

.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Optional: restrict the maximum width of the container */
}
table {
    width: 100%; /* Make the table take the full width of the container */
}

/* .table {
    overflow-x: visible;
    min-width: 382px
} */